{% extends 'konnekt/main.html' %}
{% load static %}
{% load time_filters %}

{% block main %}

<div class="tyn-content  tyn-content-page">
    <div class="tyn-main tyn-content-inner" id="tynMain">
        <div class="container">
            <div class="tyn-profile">
                <div class="tyn-profile-head">
                    <div class="tyn-profile-cover">
                        <img class="tyn-profile-cover-image" src="{{ request.user.profile.cover.url }}" alt="">
                    </div>
                    <div class="tyn-profile-info">
                        <div class="tyn-media-group align-items-start">
                            <div class="tyn-media tyn-media-bordered tyn-size-4xl tyn-profile-avatar">
                                <img src="{{ request.user.profile.avatar.url }}" alt="">
                            </div>
                            <div class="tyn-media-col">
                                <div class="tyn-media-row">
                                    <h4 class="name">{{ request.user.username }} <span class="username">{{ request.user.email }}</span></h4>
                                </div>
                                <div class="tyn-media-row has-dot-sap">
                                    <span class="content">287 Contacts</span>
                                    <span class="meta">8 Groups</span>
                                </div>
                                <div class="tyn-media-row pt-2">
                                    <div class="tyn-media-multiple">
                                        <div class="tyn-media tyn-circle tyn-size-md tyn-media-bordered">
                                            <img src="images/avatar/2.jpg" alt="">
                                        </div>
                                        <div class="tyn-media tyn-circle tyn-size-md tyn-media-bordered">
                                            <img src="images/avatar/3.jpg" alt="">
                                        </div>
                                        <div class="tyn-media tyn-circle tyn-size-md tyn-media-bordered">
                                            <img src="images/avatar/4.jpg" alt="">
                                        </div>
                                        <div class="tyn-media tyn-circle tyn-size-md tyn-media-bordered">
                                            <img src="images/avatar/5.jpg" alt="">
                                        </div>
                                        <div class="tyn-media tyn-circle tyn-size-md tyn-media-bordered">
                                            <img src="images/avatar/6.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .tyn-profile-head -->
                <div class="tyn-profile-nav">
                    <ul class="nav nav-tabs nav-tabs-line">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit" type="button"> Edit Profile </button>
                        </li>
                    </ul>
                </div><!-- .tyn-profile-nav -->
                <div class="tyn-profile-details">
                    <div class="tab-content">
                        <div class="tab-pane show active" id="profile-edit" tabindex="0">
                            <div class="row gy-5">
                                <div class="col-12">
                                    <div class="row gy-4">
                                        <div class="col-lg-3">
                                            <h6>Personal Information</h6>
                                            <div class="tyn-subtext">Edit Your personal Info</div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row g-gs">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Full Name</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" {% if request.user.profile.full_name %} value="{{ request.user.profile.full_name|title }}" {% endif %}>
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">User Name</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" value="{{ request.user.username }}">
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="form-label d-flex">Email Address<span class="small ms-2 text-success">Verified</span></label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" disabled="" value="{{ request.user.email }}">
                                                        </div>
                                                        <div class="tyn-subtext mt-2">You need to have at least one email connected with your account</div>
                                                    </div>
                                                </div><!-- .col -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Status</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" value="{{ request.user.profile.status }}">
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Phone Number</label>
                                                        <div class="form-control-wrap">
                                                            <input type="text" class="form-control" {% if request.user.profile.phone %} value="{{ request.user.phone }}" {% endif %}>
                                                        </div>
                                                    </div>
                                                </div><!-- .col -->
                                            </div><!-- .row -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .col -->
                                <div class="col-12">
                                    <div class="row gy-4">
                                        <div class="col-lg-3">
                                            <h6>Sign-in Method</h6>
                                            <div class="tyn-subtext">Edit Your personal Info</div>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row g-gs">
                                                <div class="col-12">
                                                    <div class="border rounded-2 p-3 position-relative">
                                                        <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center w-100 pe-5">
                                                            <div class="tyn-media-group mw-100">
                                                                <div class="tyn-media text-bg-danger">
                                                                    <!-- google -->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewbox="0 0 16 16">
                                                                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                                                                    </svg>
                                                                </div>
                                                                <div class="tyn-media-col">
                                                                    <h6 class="name">Google Account</h6>
                                                                    <span class="content">Your google account is connected.</span>
                                                                </div>
                                                            </div>
                                                            <div class="position-absolute end-0 me-3">
                                                                <div class="form-check form-check-reverse form-switch">
                                                                    <input class="form-check-input" checked="" type="checkbox" role="switch" id="googleAccount">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- .border -->
                                                </div><!-- .col -->
                                                <div class="col-12">
                                                    <div class="border rounded-2 p-3">
                                                        <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between align-items-center">
                                                            <div class="tyn-media-group w-100">
                                                                <div class="tyn-media text-bg-primary">
                                                                    <!-- facebook -->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewbox="0 0 16 16">
                                                                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                                                                    </svg>
                                                                </div>
                                                                <div class="tyn-media-col">
                                                                    <h6 class="name">Facebook Account</h6>
                                                                    <span class="content">You can connect with your facebook account.</span>
                                                                </div>
                                                            </div>
                                                            <div class="ms-5 mt-3 mt-sm-0 ms-sm-0"><button class="btn btn-sm btn-primary ms-2">Connect</button></div>
                                                        </div>
                                                    </div><!-- .border -->
                                                </div><!-- .col -->
                                            </div><!-- .row -->
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .tab-pane -->
                    </div><!-- .tab-content -->
                </div><!-- .tyn-profile-details -->
            </div><!-- .tyn-profile -->
        </div><!-- .container -->
    </div><!-- .tyn-main -->
</div>
   
{% endblock %}