{% extends 'dash/main.html' %}
{% load static %}
{% block main %}


<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Frequently Asked Questions</h6>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button" type="button"
                        data-toggle="collapse" data-target="#flush-collapseOne"
                        aria-expanded="true" aria-controls="flush-collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="flush-headingOne" data-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Lorem et ea ea consetetur voluptua duo et aliquyam sanctus sit. Et dolore at erat amet et diam labore lorem dolores. Erat amet stet at dolore dolor ea invidunt, justo nonumy justo takimata magna. Stet lorem vero sed eos justo diam dolores, dolor sit takimata et voluptua aliquyam gubergren tempor.
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button"
                        data-toggle="collapse" data-target="#flush-collapseTwo"
                        aria-expanded="false" aria-controls="flush-collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwo" data-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Sea diam dolore aliquyam aliquyam diam et consetetur et. Accusam amet no invidunt invidunt et consetetur, magna ut nonumy kasd erat tempor dolor et. Diam magna dolor sed amet duo dolores magna vero. Amet sit sadipscing ea diam clita lorem sit. Vero et et et tempor diam. Ipsum eirmod sit.
                    </div>
                </div>
            </div>
            <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button"
                        data-toggle="collapse" data-target="#flush-collapseThree"
                        aria-expanded="false" aria-controls="flush-collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="flush-headingThree" data-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Sea sea sit sanctus magna gubergren kasd, magna justo ea lorem lorem. Elitr aliquyam ipsum clita consetetur duo at nonumy invidunt, invidunt eos dolore vero sit amet amet magna tempor clita, takimata diam justo stet erat et vero erat. Sit ipsum eirmod sea ut vero dolores sea clita nonumy, no.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
              
{% endblock %}