{% extends 'main/main.html' %}
{% load static %}
{% load humanize %}
{% block main %}

<main>
    <div class="w-100 overflow-hidden bg-gray-100" id="top">

		<!--====== App Content ======-->
        <div class="app-content py-vh-4 bg-gray-100 w-100 overflow-hidden u-s-m-t-15">
            {% if messages %}
            {% for m in messages %}
            <!--====== Messages Section ======-->
            <div class="u-s-p-t-12">
                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list bg-primary p-2">
                                    <li class="is-marked">
                                        <a href="#" class="text-white">{{ m }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End Messages Section ======-->
            {% endfor %}
            {% endif %}
                    
            <!--====== Section 1 ======-->
            <div class="u-s-p-y-30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <!--====== Product Detail Zoom ======-->
                            <div class="pd u-s-m-b-30">
                                <div class="slider-fouc pd-wrap">
                                    <div id="pd-o-initiate">
                                        <div class="pd-o-img-wrap" data-src="{{ listing.avatar1.url }}">
                                            <img class="u-img-fluid" src="{{ listing.avatar1.url }}" data-zoom-image="{{ listing.avatar1.url }}" alt="" style="height: 30rem; object-fit: cover;">
                                        </div>
                                        <div class="pd-o-img-wrap" data-src="{{ listing.avatar2.url }}">
                                            <img class="u-img-fluid" src="{{ listing.avatar2.url }}" data-zoom-image="{{ listing.avatar2.url }}" alt="" style="height: 30rem; object-fit: cover;">
                                        </div>
                                        <div class="pd-o-img-wrap" data-src="{{ listing.avatar3.url }}">
                                            <img class="u-img-fluid" src="{{ listing.avatar3.url }}" data-zoom-image="{{ listing.avatar3.url }}" alt="" style="height: 30rem; object-fit: cover;">
                                        </div>
                                        <div class="pd-o-img-wrap" data-src="{{ listing.avatar4.url }}">
                                            <img class="u-img-fluid" src="{{ listing.avatar4.url }}" data-zoom-image="{{ listing.avatar4.url }}" alt="" style="height: 30rem; object-fit: cover;">
                                        </div>
                                        <div class="pd-o-img-wrap" data-src="{{ listing.avatar5.url }}">
                                            <img class="u-img-fluid" src="{{ listing.avatar5.url }}" data-zoom-image="{{ listing.avatar5.url }}" alt="" style="height: 30rem; object-fit: cover;">
                                        </div>
                                    </div>
                                    <span class="pd-text">Click for larger zoom</span>
                                </div>
                                <div class="u-s-m-t-15">
                                    <div class="slider-fouc">
                                        <div id="pd-o-thumbnail">
                                            <div>
                                                <img class="u-img-fluid" src="{{ listing.avatar1.url }}" alt="" style="height: 8rem; object-fit: cover;">
                                            </div>
                                            <div>
                                                <img class="u-img-fluid" src="{{ listing.avatar2.url }}" alt="" style="height: 8rem; object-fit: cover;">
                                            </div>
                                            <div>
                                                <img class="u-img-fluid" src="{{ listing.avatar3.url }}" alt="" style="height: 8rem; object-fit: cover;">
                                            </div>
                                            <div>
                                                <img class="u-img-fluid" src="{{ listing.avatar4.url }}" alt="" style="height: 8rem; object-fit: cover;">
                                            </div>
                                            <div>
                                                <img class="u-img-fluid" src="{{ listing.avatar5.url }}" alt="" style="height: 8rem; object-fit: cover;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Product Detail Zoom ======-->
                        </div>
                        <div class="col-lg-7">

                            <!--====== Product Right Side Details ======-->
                            <div class="pd-detail">
                                <div>
                                    <span class="pd-detail__name">{{ listing.title|title }}</span>
                                </div>
                                <div>
                                    <div class="">
                                        <!--<span class="pd-detail__price">$6.99</span>-->
                                        <span class="pd-detail__discount">Initial Deposit: Ksh {{ listing.deposit|intcomma }}</span><br>
                                        <span class="pd-detail__discount">Monthly Rent: Ksh {{ listing.rent|intcomma }}</span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__rating gl-rating-style">
                                        {% with rating=listing.avg_rating|default:0 %}
                                            {% for i in "12345" %}
                                                {% if rating >= forloop.counter %}
                                                    <i class="fas fa-star"></i>  {# full star #}
                                                {% elif rating >= forloop.counter0|add:"0.5" %}
                                                    <i class="fas fa-star-half-alt"></i>  {# half star #}
                                                {% else %}
                                                    <i class="far fa-star"></i>  {# empty star #}
                                                {% endif %}
                                            {% endfor %}
                                        {% endwith %}
                                        <span class="pd-detail__review u-s-m-l-4">
                                            <a data-click-scroll="#view-review">{{ listing.reviews_count|default:0 }} Review(s)</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
                                        <span class="pd-detail__left bg-info text-white">{{ listing.category.category|title }}</span>
                                        <span class="pd-detail__stock">{{ listing.area_sqft|intcomma }} square feet</span>
                                        <span class="pd-detail__left">{{ listing.available_units }} available units</span>
                                        <span class="pd-detail__left bg-primary text-white">{{ listing.location|title }}</span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <ul class="pd-detail__policy-list">
                                        <li>
                                            <small>{{ listing.bathrooms }}</small>
                                            <small class="">Bathrooms.</small>
                                        </li>
                                        <li>
                                            <small>{{ listing.bedrooms }}</small>
                                            <small class="">Bedrooms.</small>
                                        </li>
                                        <li>
                                            <small>{{ listing.floor_number }}</small>
                                            <small class="">floor.</small>
                                        </li>
                                        <li>
                                            <small>{{ listing.total_floors }}</small>
                                            <small class="">Total Floors.</small>
                                        </li>
                                        <li>
                                            <small>{{ listing.year_built }}</small>
                                            <small class="">Year Built.</small>
                                        </li>
                                    <!--<span class="pd-detail__preview-desc">{{ listing.description }}</span>-->
                                </div>
                                <div class="u-s-m-b-15">
                                    <span class="pd-detail__label u-s-m-b-8">Address:</span>
                                    <div class="pd-detail__size">
                                        {% if listing.address.city %}
                                        <div class="size__radio">
                                            <div class="size__radio-label">City: {{ listing.address.city|title }}</div>
                                        </div>
                                        {% endif %}
                                        {% if listing.address.county %}
                                        <div class="size__radio">
                                            <div class="size__radio-label">County: {{ listing.address.county|title }}</div>
                                        </div>
                                        {% endif %}
                                        {% if listing.address.town %}
                                        <div class="size__radio">
                                            <div class="size__radio-label">Town: {{ listing.address.town|title }}</div>
                                        </div>
                                        {% endif %}
                                        {% if listing.address.street %}
                                        <div class="size__radio">
                                            <div class="size__radio-label">Street: {{ listing.address.street }}</div>
                                        </div>
                                        {% endif %}
                                        {% if listing.address.house %}
                                        <div class="size__radio">
                                            <div class="size__radio-label">House No.: {{ listing.address.house }}</div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
                                        <span class="pd-detail__click-wrap">
                                            <i class="far fa-heart u-s-m-r-6"></i>
                                            <a href="">Video Tour</a>
                                            <span class="pd-detail__click-count">(222)</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
                                        <span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>
                                            <a href="">3D Tour</a>
                                            <span class="pd-detail__click-count">(20)</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
                                        <span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>
                                            <a href="">Floor Plan</a>
                                            <span class="pd-detail__click-count">(PDF)</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <div class="pd-detail__inline">
                                        <span class="pd-detail__click-wrap">
                                            <form method="post" id="likeForm-{{ listing.id }}" action="{% url 'listings' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="l_id" value="{{ listing.id }}">
                                                <input type="hidden" name="action" value="like">
                                            </form>
                                            <i class="{% if listing.is_liked %}fas fa-heart{% else %}far fa-heart{% endif %} u-s-m-r-6"></i>
                                            <a href="#"
                                                title="{% if listing.is_liked %}Remove from favorites{% else %}Add to favorites{% endif %}"
                                                id="likeLink-{{ listing.id }}">Hearts
                                            </a>
                                            <script>
                                                document.getElementById('likeLink-{{ listing.id }}').addEventListener('click', function(e) {
                                                    e.preventDefault();
                                                    document.getElementById('likeForm-{{ listing.id }}').submit();
                                                });
                                            </script>
                                            <span class="pd-detail__click-count">({{ listing.likes_count|intcomma|default:0 }})</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-15">
                                    <span class="pd-detail__label u-s-m-b-8">Ammenities:</span>
                                    <ul class="pd-detail__policy-list">
                                        {% if listing.parking %}
                                        <li>
                                            <i class="fas fa-check-circle u-s-m-r-8"></i>
                                            <span>Parking available.</span>
                                        </li>
                                        {% endif %}
                                        {% if listing.internet %}
                                        <li>
                                            <i class="fas fa-check-circle u-s-m-r-8"></i>
                                            <span>Strong internet connection.</span>
                                        </li>
                                        {% endif %}
                                        {% if listing.security %}
                                        <li>
                                            <i class="fas fa-check-circle u-s-m-r-8"></i>
                                            <span>24/7 Security.</span>
                                        </li>
                                        {% endif %}
                                        {% if listing.balcony %}
                                        <li>
                                            <i class="fas fa-check-circle u-s-m-r-8"></i>
                                            <span>Private balcony available.</span>
                                        </li>
                                        {% endif %}
                                        {% if listing.pet_friendly %}
                                        <li>
                                            <i class="fas fa-check-circle u-s-m-r-8"></i>
                                            <span>Pet-friendly environment.</span>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="u-s-m-b-15">
                                    <form class="pd-detail__form">
                                        <div class="pd-detail-inline-2">
                                            <div class="u-s-m-b-15">
                                                <button class="btn btn--e-brand-b-2" type="submit">Contact Landlord</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--====== End - Product Right Side Details ======-->
                        </div>
                    </div>
                </div>
            </div>

            <!--====== Product Detail Tab ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pd-tab">
                                <div class="u-s-m-b-30">
                                    <ul class="nav pd-tab__list">
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#pd-desc">DESCRIPTION</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-content">

                                    <!--====== Tab 1 ======-->
                                    <div class="tab-pane" id="pd-desc">
                                        <div class="pd-tab__desc">
                                            <div class="u-s-m-b-15">
                                                <p>{{ listing.description|capfirst }}</p>
                                            </div>
                                            <!--<div class="u-s-m-b-30">
                                                <iframe src="" allowfullscreen></iframe>
                                            </div>-->
                                            <div class="u-s-m-b-30">
                                                <ul>
                                                    {% if listing.parking %}
                                                    <li>
                                                        <i class="fas fa-check-circle u-s-m-r-8"></i>
                                                        <span>Parking available.</span>
                                                    </li>
                                                    {% endif %}
                                                    {% if listing.internet %}
                                                    <li>
                                                        <i class="fas fa-check-circle u-s-m-r-8"></i>
                                                        <span>Strong internet connection.</span>
                                                    </li>
                                                    {% endif %}
                                                    {% if listing.security %}
                                                    <li>
                                                        <i class="fas fa-check-circle u-s-m-r-8"></i>
                                                        <span>24/7 Security.</span>
                                                    </li>
                                                    {% endif %}
                                                    {% if listing.balcony %}
                                                    <li>
                                                        <i class="fas fa-check-circle u-s-m-r-8"></i>
                                                        <span>Private balcony available.</span>
                                                    </li>
                                                    {% endif %}
                                                    {% if listing.pet_friendly %}
                                                    <li>
                                                        <i class="fas fa-check-circle u-s-m-r-8"></i>
                                                        <span>Pet-friendly environment.</span>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 1 ======-->

                                    <!--====== Tab 3 ======-->
                                    <div class="tab-pane fade show active" id="pd-rev">
                                        <div class="pd-tab__rev">
                                            <div class="u-s-m-b-30">
                                                <div class="pd-tab__rev-score">
                                                    <div class="u-s-m-b-8">
                                                        <h2>{{ listing.reviews_count|intcomma|default:0 }} Reviews - {{ listing.avg_rating|default:0 }} (Average)</h2>
                                                    </div>
                                                    <div class="gl-rating-style-2 u-s-m-b-8">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star-half-alt"></i>
                                                    </div>
                                                    <div class="u-s-m-b-8">
                                                        <h4>We want to hear from you!</h4>
                                                    </div>
                                                    <span class="gl-text">Tell us what you think about {{ listing.title|title }}.</span>
                                                </div>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f1">
                                                    <div class="rev-f1__group">
                                                        <div class="u-s-m-b-15"></div>
                                                        <div class="u-s-m-b-15">
                                                            <label for="sort-review"></label>
                                                            <select class="select-box select-box--primary-style" id="sort-review">
                                                                <option selected>Sort by: Best Rating</option>
                                                                <option>Sort by: Worst Rating</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="rev-f1__review">
                                                        {% for r in reviews %}
                                                        <div class="review-o u-s-m-b-15">
                                                            <div class="review-o__info u-s-m-b-8">
                                                                <span class="review-o__name">{{ r.user.username|title }}</span>
                                                                <span class="review-o__date">{{ r.timestamp }}</span>
                                                            </div>
                                                            <div class="review-o__rating gl-rating-style u-s-m-b-8">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="far fa-star"></i>
                                                                <span>(4)</span>
                                                            </div>
                                                            <p class="review-o__text">{{ r.comment|capfirst }}</p>
                                                            <p class="gl-text">{{ r.body|capfirst }}</p>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="u-s-m-b-30">
                                                <form class="pd-tab__rev-f2" method="post">
                                                    {% csrf_token %}
                                                    <h3 class="u-s-m-b-15">Add a Review</h3>

                                                    <span class="gl-text u-s-m-b-15">Your email address will not be published. Required fields are marked *</span>
                                                    <div class="u-s-m-b-30">
                                                        <div class="rev-f2__table-wrap gl-scroll">
                                                            <table class="rev-f2__table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="gl-rating-style-2">
                                                                                <i class="fas fa-star"></i>
                                                                                <span>(1)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2">
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <span>(2)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2">
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <span>(3)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2">
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <span>(4)</span>
                                                                            </div>
                                                                        </th>
                                                                        <th>
                                                                            <div class="gl-rating-style-2">
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <span>(5)</span>
                                                                            </div>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">
                                                                                <input type="radio" id="star-1" name="rating" value="1">
                                                                                <div class="radio-box__state radio-box__state--primary">
                                                                                    <label class="radio-box__label" for="star-1"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>
                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">
                                                                                <input type="radio" id="star-2" name="rating" value="2">
                                                                                <div class="radio-box__state radio-box__state--primary">
                                                                                    <label class="radio-box__label" for="star-2"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>
                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">
                                                                                <input type="radio" id="star-3" name="rating" value="3">
                                                                                <div class="radio-box__state radio-box__state--primary">
                                                                                    <label class="radio-box__label" for="star-3"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>
                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">
                                                                                <input type="radio" id="star-4" name="rating" value="4">
                                                                                <div class="radio-box__state radio-box__state--primary">
                                                                                    <label class="radio-box__label" for="star-4"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                        <td>
                                                                            <!--====== Radio Box ======-->
                                                                            <div class="radio-box">
                                                                                <input type="radio" id="star-5" name="rating" value="5">
                                                                                <div class="radio-box__state radio-box__state--primary">
                                                                                    <label class="radio-box__label" for="star-5"></label>
                                                                                </div>
                                                                            </div>
                                                                            <!--====== End - Radio Box ======-->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="rev-f2__group">
                                                        <div>
                                                            <p class="u-s-m-b-30">
                                                                <label class="gl-label" for="reviewer-email">EMAIL *</label>
                                                                <input class="input-text input-text--primary-style" type="email" name="email" id="reviewer-email" required>
                                                            </p>
                                                            <p class="u-s-m-b-30">
                                                                <label class="gl-label" for="reviewer-name">COMMENT *</label>
                                                                <input class="input-text input-text--primary-style" type="text" name="comment" id="reviewer-name" required>
                                                            </p>
                                                        </div>
                                                        <div class="u-s-m-b-15">
                                                            <label class="gl-label" for="reviewer-text">YOUR REVIEW *</label>
                                                            <textarea class="text-area text-area--primary-style" id="reviewer-text" name="body"></textarea>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="l_id" value="{{ listing.id }}">
                                                    <input type="hidden" name="action" value="new_review">
                                                    <div class="d-flex justify-content-center">
                                                        <button class="btn btn--e-brand-shadow" type="submit">SUBMIT</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--====== End - Tab 3 ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Product Detail Tab ======-->
            <div class="u-s-p-b-90">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>

                                    <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="slider-fouc">
                            <div class="owl-carousel product-slider" data-item="4">
                                <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                <img class="aspect__img" src="images/product/electronic/product1.jpg" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="shop-side-version-2.html">Electronics</a></span>

                                        <span class="product-o__name">

                                            <a href="product-detail.html">Beats Bomb Wireless Headphone</a></span>
                                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                            <span class="product-o__review">(20)</span></div>

                                        <span class="product-o__price">$125.00

                                            <span class="product-o__discount">$160.00</span></span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                <img class="aspect__img" src="images/product/electronic/product2.jpg" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="shop-side-version-2.html">Electronics</a></span>

                                        <span class="product-o__name">

                                            <a href="product-detail.html">Red Wireless Headphone</a></span>
                                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                            <span class="product-o__review">(20)</span></div>

                                        <span class="product-o__price">$125.00

                                            <span class="product-o__discount">$160.00</span></span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                <img class="aspect__img" src="images/product/electronic/product3.jpg" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="shop-side-version-2.html">Electronics</a></span>

                                        <span class="product-o__name">

                                            <a href="product-detail.html">Yellow Wireless Headphone</a></span>
                                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                            <span class="product-o__review">(20)</span></div>

                                        <span class="product-o__price">$125.00

                                            <span class="product-o__discount">$160.00</span></span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                <img class="aspect__img" src="images/product/electronic/product23.jpg" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="shop-side-version-2.html">Electronics</a></span>

                                        <span class="product-o__name">

                                            <a href="product-detail.html">Razor Gear Ultra Slim 8GB Ram</a></span>
                                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                            <span class="product-o__review">(20)</span></div>

                                        <span class="product-o__price">$125.00

                                            <span class="product-o__discount">$160.00</span></span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                <img class="aspect__img" src="images/product/electronic/product26.jpg" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="shop-side-version-2.html">Electronics</a></span>

                                        <span class="product-o__name">

                                            <a href="product-detail.html">Razor Gear Ultra Slim 12GB Ram</a></span>
                                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                            <span class="product-o__review">(20)</span></div>

                                        <span class="product-o__price">$125.00

                                            <span class="product-o__discount">$160.00</span></span>
                                    </div>
                                </div>
                                <div class="u-s-m-b-30">
                                    <div class="product-o product-o--hover-on">
                                        <div class="product-o__wrap">

                                            <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">

                                                <img class="aspect__img" src="images/product/electronic/product30.jpg" alt=""></a>
                                            <div class="product-o__action-wrap">
                                                <ul class="product-o__action-list">
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a></li>
                                                    <li>

                                                        <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a></li>
                                                    <li>

                                                        <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <span class="product-o__category">

                                            <a href="shop-side-version-2.html">Electronics</a></span>

                                        <span class="product-o__name">

                                            <a href="product-detail.html">Razor Gear Ultra Slim 16GB Ram</a></span>
                                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                                            <span class="product-o__review">(20)</span></div>

                                        <span class="product-o__price">$125.00

                                            <span class="product-o__discount">$160.00</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 1 ======-->



        </div>
        <!--====== End - App Content ======-->

    </div>
</main>

{% endblock %}